[submodule "lib/NopSCADlib"]
	path = lib/NopSCADlib
	url = https://github.com/nophead/NopSCADlib.git
[submodule "lib/PiHoles"]
	path = lib/PiHoles
	url = https://github.com/daprice/PiHoles.git
[submodule "lib/BOSL2"]
	path = lib/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git
[submodule "lib/knurled-openscad"]
	path = lib/knurled-openscad
	url = https://github.com/smkent/knurled-openscad.git
[submodule "lib/battery_lib"]
	path = lib/battery_lib
	url = https://github.com/kartchnb/battery_lib.git
[submodule "lib/gridfinity-rebuilt-openscad"]
	path = lib/gridfinity-rebuilt-openscad
	url = https://github.com/kennetek/gridfinity-rebuilt-openscad.git
